* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    background-color: #E9D5CA;
    font-family: 'Poppins', sans-serif;
}

section {
    width: 90%;
}



.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}