.primer-h2 {
    text-align: center;
    font-size: 25px;
    margin: 15px;
}

.producto-desc{
     h1 {
    text-align: center;
    font-size: 30px;
    margin: 15px;}
    h2 {
        margin: 20px 15px 15px 15px;
    }
    p {
        text-align: justify;
        text-indent: 10px;
    }
}

.producto{  p {
    text-align: justify;
    text-indent: 20px;}
    h2 {
        margin: 25px 0 15px 0;
        text-align: center;
        font-size: 30px;
    
    }
   footer {
        margin-top: 30px;
    }
}



